@using AzureNamingTool.Helpers
@using AzureNamingTool.Models
@using AzureNamingTool.Components
@inject StateContainer state
@inject ProtectedSessionStorage session
@inject IToastService toastService
@inject ILogger<PasswordModal> Logger

<div class="modern-modal-content">
    @if (GeneralHelper.IsNotNull(message))
    {
        <div style="margin-bottom: 1rem;">
            @((MarkupString)message)
        </div>
    }
</div>

<div class="modern-modal-footer">
    <button type="button" class="modern-btn-success" @onclick=@Confirm>OK</button>
    <button type="button" class="modern-btn-secondary" @onclick=@Cancel>Cancel</button>
</div>

@code {

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; } = new();
    [Parameter] public ThemeInfo theme { get; set; } = new();

    [Parameter] public string title { get; set; } = String.Empty;
    [Parameter] public string message { get; set; } = String.Empty;
    [Parameter] public string headerstyle { get; set; } = String.Empty;


    async Task Confirm() => await ModalInstance.CloseAsync(ModalResult.Ok(true));

    async Task Cancel() => await ModalInstance.CancelAsync();

}