@using AzureNamingTool.Helpers
@using AzureNamingTool.Models;
@inject StateContainer state
@inject ProtectedSessionStorage session
@inject IToastService toastService
@inject ILogger<PasswordModal> Logger

<div class="modern-modal-content">
    <h3 style="margin-bottom: 1rem;"><i class="bi bi-shield-lock"></i> Set Global Admin Password</h3>
    
    <div class="modern-notification-warning mb-3">
        <i class="bi bi-exclamation-triangle"></i>
        <div>
            <p>
                You must set the Global Admin Password to continue.
            </p>
            <p class="modern-font-semibold">Requirements</p>
            <ul>
                <li>Contain a number</li>
                <li>Contain one upper case letter</li>
                <li>Be at least 8 characters</li>
            </ul>
        </div>
    </div>
    <div>
        <label class="modern-form-label">New Password</label>
        <input id="newpassword" class="modern-form-input mb-3" type="password" @onchange="@((ui) => { SetPassword((string?)ui.Value!);})" placeholder="Enter password" />
    </div>
</div>

<div class="modern-modal-footer">
    <button type="button" disabled="@disabled" class="modern-btn-primary" @onclick=ModalSave>Save</button>
</div>

@code {

    private bool disabled = true;

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    [CascadingParameter]
    BlazoredModalInstance ModalInstance { get; set; } = new();

    private string password = String.Empty;

    private async Task ModalSave()
    {
        if (!String.IsNullOrEmpty(password))
        {
            // Make sure password is complex enough
            if (ValidationHelper.ValidatePassword(password))
            {
                var config = ConfigurationHelper.GetConfigurationData();

                config.AdminPassword = GeneralHelper.EncryptString(password, config.SALTKey!);
                Guid guid = Guid.NewGuid();
                config.APIKey = GeneralHelper.EncryptString(guid.ToString(), config.SALTKey!);
                guid = Guid.NewGuid();
                config.ReadOnlyAPIKey = GeneralHelper.EncryptString(guid.ToString(), config.SALTKey!);
                guid = Guid.NewGuid();
                config.NameGenerationAPIKey = GeneralHelper.EncryptString(guid.ToString(), config.SALTKey!);

                await ConfigurationHelper.UpdateSettings(config);

                state.Password = true;
                await session.SetAsync("password", true);

                state.SetAdmin(true);
                await session.SetAsync("admin", true);
                await session.SetAsync("currentuser", "GlobalAdmin");

                await InvokeAsync(() =>
                {
                    base.StateHasChanged();
                });

                await ModalInstance.CloseAsync(ModalResult.Ok(true));
                await OnClose.InvokeAsync(true);
                toastService.ShowSuccess("The Global Admin Password has been set.");
            }
            else
            {
                disabled = true;
            }
        }
        else
        {
            disabled = true;
        }
    }

    private void SetPassword(string value)
    {
        password = value;

        // Validate the password complexity
        if (ValidationHelper.ValidatePassword(password))
        {
            disabled = false;
        }
        else
        {
            disabled = true;
        }
    }
}