@using AzureNamingTool.Helpers
@using AzureNamingTool.Models;
@inject StateContainer state
@inject ProtectedSessionStorage session
@inject IToastService toastService
@inject ILogger<PasswordModal> Logger

<div class="modern-modal-content text-center" style="align-items: center; justify-content: center;">
    @if (!String.IsNullOrEmpty(message))
    {
        <p style="margin-bottom: 1rem; font-style:italic; font-size: 1.1rem;">
            @message
        </p>
    }
    else
    {
        <p style="margin-bottom: 1rem; font-style:italic; font-size: 1.1rem;">
            Working....
        </p>
    }
    <img src="/images/loading-buffering.gif" alt="Loading..." style="max-width: 100px; display: block; margin: 0 auto;" />
</div>

@code {
    [Parameter] public EventCallback<bool> OnClose { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; } = new();
    [Parameter] public string message { get; set; } = String.Empty;

    private async Task Cancel()
    {
        await ModalInstance.CancelAsync();
        await OnClose.InvokeAsync(false);
    }
}