@using AzureNamingTool.Models;
<p>
    The <span class="fw-bold">Admin</span> utility allows the user to view version information, configure site settings, update passwords/keys, and clear the site cache.
</p>
<p>
    <img style="width:600px;" class="img-fluid" src="Screenshots/AdminConfiguration.png" alt="Admin configuration" />
</p>
<div class="card">
    <h5 class="card-header bg-default text-dark">
        Page Sections/Actions
    </h5>
    <div class="card card-body @theme!.ThemeStyle">
        <div class="card">
            <div class="card-body @theme!.ThemeStyle">
                <h5>Version Details</h5>
                <p>This section displays the current tool version, along with any version alerts.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body @theme!.ThemeStyle">
                <h5>Customization</h5>
                <div>
                    <p>This section allows you to customize the Azure Naming Tool site with custom Home content, custom logos, and other configurations.</p>
                    <ul class="list-unstyled">
                        <li>
                            <span class="fw-bold">Custom Home Content</span>
                            <p>
                                You can enter custom <span class="fw-bold">Markdown</span> content that will be displayed on the <span class="fw-bold">Home</span> page. This can be used to provide additional information to users.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body @theme!.ThemeStyle">
                <h5>Security</h5>
                <div>
                    <p>This section allows for the configuration of the identity settings, if using an Identity provider for Authentication.</p>
                    <ul class="list-unstyled">
                        <li>
                            <span class="fw-bold">Global Admin Password</span>
                            <p>
                                This section allows you to update the <span class="fw-bold">Global Admin password</span> for the tool.
                            </p>
                        </li>
                        <li>
                            <span class="fw-bold">API Keys</span>
                            <p>
                                This section allows you to update the <span class="fw-bold">Full-Access and Read-Only API Keys</span> for the tool.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body @theme!.ThemeStyle">
                <h5>Identity Settings</h5>
                <div>
                    <p>This section allows for the configuration of the identity settings, if using an Identity provider for Authentication.</p>
                    <ul class="list-unstyled">
                        <li>
                            <span class="fw-bold">Identity Header Name</span>
                            <p>
                                This setting is used to identify site users when authenticating using an Identity provider. Authentication using an Identity provider will often inject headers into the request. The site will check for the specified header name and assign the value as the user's identity. This value will be used to log user activity.
                            </p>
                            <p>The process to use this setting is:</p>
                            <ol class="mb-3">
                                <li>Implement authentication where the site is hosted. If hosting in Azure App Services, you can view a tutorial <a href="https://learn.microsoft.com/en-us/azure/app-service/scenario-secure-app-authentication-app-service" target="_blank"><span class="fw-bold">here</span></a>.</li>
                                <li>Determine the <span class="fw-bold">header name</span> that contains your desired user identifier (email, name, GUID, etc.). This may be different, depending on the Identity provider you use.</li>
                                <li> Enter the header name in the <span class="fw-bold">Identity Header Name</span> setting.</li>
                            </ol>
                            <p class="alert alert-info" role="alert">
                                <span class="fw-bold">NOTE</span><br />
                                The Azure Naming Tool is configured for <span class="fw-bold"><a href="https://learn.microsoft.com/en-us/azure/app-service/overview-authentication-authorization" target="_blank">Azure App Service Authentication</a></span> using the <a href="https://learn.microsoft.com/en-us/azure/app-service/configure-authentication-user-identities#access-user-claims-in-app-code" target="_blank"><span class="fw-bold">X-MS-CLIENT-PRINCIPAL-NAME</span></a> header name. If using a different Identity provider, update the setting to the header name that contains the user's id.
                            </p>
                        </li>
                        <li>
                            <span class="fw-bold">Admin Users</span>
                            <p>
                                When using an Identity provider, the <span class="fw-bold">Identity Header Name</span> setting can be used to identify site users. Enter the user id below to assign the user as an <span class="fw-bold">Admin</span> for the Azure Naming Tool.
                            </p>
                            <p>
                                Enter the user id (as determined by the <span class="fw-bold">Identity Header Name</span> setting above) for each Admin user.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body @theme!.ThemeStyle">
                <h5>Clear Cache</h5>
                <p>
                    The Azure Naming Tool leverages caching to improve performance. This section provides the ability to clear all cached data for the tool.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body @theme!.ThemeStyle">
                <h5>Site Settings</h5>
                <div>
                    <p>This section allows for the configuration of site settings.</p>
                    <ul class="list-unstyled">
                        <li>
                            <span class="fw-bold">Allow Duplicate Names</span>
                            <p>
                                By default, the Azure Naming Tool prevents duplicate resource names from being generated. This setting can be used to allow duplicate names.
                            </p>
                        </li>
                        <li>
                            <span class="fw-bold">Auto-Increment Resouce Instance</span>
                            <p>
                                If enabled, the Azure Naming Tool will increment the provided instance number to the next available value, if the generated name exists.
                            </p>
                        </li>
                        <li>
                            <span class="fw-bold">Resource Type Editing</span>
                            <p>
                                By default, the Azure Naming Tool uses managed configuration data for Resource Types. Use this setting to override this functionality and edit Resource Type values.
                            </p>
                            <p class="alert alert-danger">
                                <span class="fw-bold">NOTE</span><br />
                                Disabling this setting may result in name generation that will fail regex validation for the resource type.
                            </p>
                        </li>

                        <li>
                            <span class="fw-bold">Instructions</span>
                            <p>
                                If enabled, the Instructions page will be enabled and listed in the navigation menu for non-admin users. This setting does not apply to admin users.
                            </p>
                        </li>
                        <li>
                            <span class="fw-bold">Generated Named Log</span>
                            <p>
                                If enabled, the Generated Name Log page will be enabled and listed in the navigation menu for non-admin users. This setting does not apply to admin users.
                            </p>
                        </li>
                        <li>
                            <span class="fw-bold">Latest News</span>
                            <p>
                                If enabled, the Latest News component will be displayed in the navigation menu. This setting will apply to all users.
                            </p>
                        </li>
                        <li>
                            <span class="fw-bold">Connectivity Check</span>
                            <p>
                                The Azure Naming Tool will verify the tool has internet connectivity to enable update features. Use this setting to disable the connectivity check functionality.
                            </p>
                            <p class="alert alert-warning">
                                <span class="fw-bold">NOTE</span><br />
                                Disabling this setting may result in connectivity errors being logged to the Admin Log.
                            </p>
                        </li>
                        <li>
                            <span class="fw-bold">Generation Webhook</span>
                            <p>
                                The Azure Naming Tool can post generated names to a webhook. This can be used to integrate with other systems. Enter a valid URL below to save the webhook setting.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public ThemeInfo? theme { get; set; }
    [Parameter]
    public bool admin { get; set; } = false;
}
