@using AzureNamingTool.Models;
<p>
    The <span class="fw-bold">Generate Names Log</span> displays all names generated using the Azure Naming Tool, along with the selected components.
</p>
@if (admin)
{
    <p>
        <img style="width:600px;" class="img-fluid" src="Screenshots/GeneratedNamesLogAdmin.png" alt="Generated Names Log" />
    </p>
}
else
{
    <p>
        <img style="width:600px;" class="img-fluid" src="Screenshots/GeneratedNamesLog.png" alt="Generated Names Log" />
    </p>
}
<div class="modern-card">
    <div class="modern-card-header">
        <span class="modern-card-title">Page Sections/Actions</span>
    </div>
    <div class="modern-card-body">
        <div class="modern-card mb-3">
            <div class="modern-card-body">
                <h5>Export Generated Names Log</h5>
                <p>
                    This functionality allows the generated names to be exported to a CSV file. The <span class="fw-bold">Filter</span> option can be used to specify the names exported.
                </p>
            </div>
        </div>
        @if (admin)
        {
            <div class="modern-card mb-3">
                <div class="modern-card-body">
                    <h5>Purge Generated Names Log</h5>
                    <p>
                        This option will delete all <span class="fw-bold">Generated Names Log</span> data. This action cannot be undone!
                    </p>
                </div>
            </div>
        }
    </div>
</div>
@code {
    [Parameter]
    public ThemeInfo? theme { get; set; }
    [Parameter]
    public bool admin { get; set; } = false;
}
