@using AzureNamingTool.Helpers
@using AzureNamingTool.Models
@using AzureNamingTool.Services
@using AzureNamingTool.Services.Interfaces
@using Microsoft.JSInterop

<a class="twitter-timeline" data-height="400" data-theme="dark" href="https://twitter.com/AzureNamingTool?ref_src=twsrc%5Etfw">Tweets by AzureNamingTool</a>

@code {
    [Inject]
    public IJSRuntime? JsRuntime { get; set; }
    
    [Inject]
    public IAdminLogService? AdminLogService { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                var targetUrl = "//platform.twitter.com/widgets.js";
                if (GeneralHelper.IsNotNull(JsRuntime))
                {
                    await JsRuntime.InvokeVoidAsync("loadJs", targetUrl);
                }
            }
            catch (Exception ex)
            {
                if (GeneralHelper.IsNotNull(AdminLogService))
                {
                    await AdminLogService.PostItemAsync(new AdminLogMessage() { Title = "ERROR", Message = ex.Message });
                }
            }
        }
    }
}